<plugin name='roomplanner-api' version='0.2' grailsVersion='2.3.0 &gt; *'>
  <author>Your name</author>
  <title>Roomplanner Api Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/roomplanner-api</documentation>
  <type>RoomplannerApiGrailsPlugin</type>
  <resources>
    <resource>joda.IntervalStringAdapter</resource>
  </resources>
</plugin>