<plugin name='roomplanner-api' version='0.1' grailsVersion='2.2 &gt; *'>
  <author>Your name</author>
  <title>Roomplanner Api Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/roomplanner-api</documentation>
  <type>RoomplannerApiGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>